<h2>Welcome <%= current_user.role %>!</h2>
<h1>My Projects</h1>

<% if can? :create, Project %>
  <%= link_to "New Project", new_project_path %>
<% end %>

<% if can? :create, Bug %>
  <% @projects.each do |project| %>
    <%= link_to "New Bug for #{project.name}", new_project_bug_path(project) %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path %>
<% end %>

<% @projects.each do |project| %>
  <div>
    <h2><%= link_to project.name, project %></h2>
    <p><%= project.description %></p>
    <% if can? :manage, project %>
      <p>
        <%= link_to "Edit", edit_project_path(project) %> |
        <%= link_to "Delete", project, method: :delete, data: { confirm: "Are you sure?" } %>
      </p>
    <% end %>
  </div>
<% end %>
